*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: monospace;

    --board-border: 10px solid black;
}

#container {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    justify-items: center;
    align-items: center;
}

/* Menu */

#menu-display {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#menu-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#menu-form label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#menu-form label[for="with-ai"] {
    flex-direction: row;
}

#menu-form input[type="text"] {
    flex: 1;
    font-family: monospace;
}

#menu-form input[type="checkbox"] {
    margin-right: 1rem;
    margin-left: -1rem;
}

#menu-form button {
    color: white;
    background-color: black;
    border: none;
    padding: 1rem;
    font-family: monospace;
}

#current-turn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}

/* Game Board */

#game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: fit-content;
    height: fit-content;
}

#game-board > div {
    width: 10rem;
    height: 10rem;
}

#game-board > div:nth-child(-n + 6) {
    border-bottom: var(--board-border);
}

#game-board > div:nth-child(3n + 1),
#game-board > div:nth-child(3n + 2) {
    border-right: var(--board-border);
}

#game-board > div > div {
    width: 100%;
    height: 100%;
}

.X div {
    background: url(./svg/cross.svg) no-repeat;
}

.O div {
    background: url(./svg/circle.svg) no-repeat;
}

.X div,
.O div {
    background-size: contain;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;

    filter: drop-shadow(0 0 5px rgb(55 55 110 / 0.5));
}
